* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

body {
  margin: 20px;
  padding: 20px;
  height: 100vh;
}

#action {
  display: flex;
  justify-content: center;
}

.item {
  background: #fff;
  border: 1px solid #666;
  height: 100px;
  display: flex;
  width: 100%;
  align-items: center;
  /* justify-content: center; */
  margin: 10px 0px;
  padding: 25px 25px;
}

#sentinel {
  width: 1px;
  height: 1px;
}
